
@font-face {
  font-family: 'InsaniburgerwithCheese';
  src: url('InsaniburgerwithCheese.eot?#iefix') format('embedded-opentype'),  url('InsaniburgerwithCheese.woff') format('woff'), url('InsaniburgerwithCheese.ttf')  format('truetype'), url('InsaniburgerwithCheese.svg#InsaniburgerwithCheese') format('svg');
  font-weight: normal;
  font-style: normal;
}
