
@font-face {
  font-family: 'GoboldThinLight';
  src: url('GoboldThinLight.eot?#iefix') format('embedded-opentype'),  url('GoboldThinLight.woff') format('woff'), url('GoboldThinLight.ttf')  format('truetype'), url('GoboldThinLight.svg#GoboldThinLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
